<div class="new-todo-container">
    <h1>Create a Todo!</h1>
    
    <form (ngSubmit)="createNewTodo(formObj); value=''; date.value=''" #formObj="ngForm">
        <mat-form-field>
            <input matInput type="text" name="todoText" placeholder="Write a todo" [(ngModel)]="value">
            <button type="button" mat-button *ngIf="value" matSuffix mat-icon-button (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <input #date matInput [matDatepicker]="picker" placeholder="Deadline for a Todo" 
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary" type="submit">Add Todo</button>
    </form>
</div>

